{% extends "base.html" %} {% block content %}
<!-- First View Start -->
<div class="first-view">
  <div class="light-cable-left">
    <img src="/light-cable.svg" alt="light cable" />
  </div>
  <div class="light-cable-right">
    <img src="/light-cable.svg" alt="light cable" />
  </div>
  <div class="krona-one-regular">
    <h1 class="title">
      {{ config.extra.coffee.title | default(value='coffee theme') | safe }}
    </h1>
    <h3 class="sub-title">
      {{ config.extra.coffee.description | default(value='This blog is made by
      zola.') | safe }}
    </h3>
  </div>
</div>
<!-- First View End -->
<!-- About Start -->
<div class="about">
  <h1>About</h1>
  <div class="img-item">
    <img
      src="{{ config.extra.coffee.about_image | default(value='https://raw.githubusercontent.com/Myxogastria0808/coffee/refs/heads/main/static/coffee.webp') | safe }}"
      alt="{{ config.extra.coffee.about_image_alt | default(value='coffee theme') | safe }}"
    />
  </div>
  <p>This is a blog about coffee.</p>
</div>
<!-- About End -->
<!-- Blog List Start -->
<section class="blog-list-section">
  <h1 class="title">List of blog posts</h1>
  <ul>
    {%for page in section.pages %}
    <li>
      <a class="post-link" href="{{ page.permalink | safe}}">
        <p class="date">date:&ensp;{{ page.date | safe }}</p>
        <p class="author">
          author:&ensp;{%for author in page.authors %}{% if loop.last %}{{
          author | safe }}{% else %}{{ author | safe }},&ensp;{% endif %} {%
          endfor %}
        </p>
        <h2>{{ page.title | safe }}</h2>
      </a>
      <p class="tags">
        {% for tag in page.taxonomies.tags %} {% if loop.last %}
        <a href="{{ config.base_url }}/tags/{{ tag | safe }}/"
          >#{{ tag | safe }}</a
        >
        {%else %}
        <a href="{{ config.base_url }}/tags/{{ tag | safe }}/"
          >#{{ tag | safe }}</a
        >,&ensp; {% endif %} {% endfor %}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
<!-- Blog List End -->
{% endblock content %}
